#Container{
        position:relative;
}
#Header{
        padding:10px;
        width:100%;
        background:#ffffff;
}
#Content{
        position:relative;
        background: url"LatarKopi.jpg";
        margin:0px 20px;
        padding: 10px;
}
#LogoNgops{
        margin: auto;
        padding-left: 30px;
        padding-top: 10px;
}
.Pencarian{
        margin: auto;
        width: 300px;
        float: right;
        padding-top: 80px;
}
.CariApa{
        left: 50%;
        padding:3px 15px;
        background:rgba(50, 50, 50, 0.2);
        border:0px solid #dbdbdb;
}
.KlikCari{
        position:relative;
        padding:3px;
        left:-8px;
        border:2px solid #999999;
        background-color:#999999;
        color:#ffffff;
}
.Aktif{
        margin: auto;
        padding: 4px 21px;
        background: #F2D45C;
        background: rgba(0,0,0,0,5);
}
.TidakAktif{
        margin: auto;
        padding: 4px 20px;
        background: #ffffff;
        background: rgba(0,0,0,0,5);
}
.Deskripsi{
        color: #ffffff;
        text-shadow: 10px 1px 9px black;
}
.KotakLogin{
	margin: auto;
        width: 350px;
        padding: 10px;
        border: spx solid #ccc;
        background: white;
        background-color: rgba(255,255,255,0.5);
        border-radius: 20px;
}
.TulisanLogin{
        text-align: center;
        font-family: Verdana;
        font size: 15pt;
}
.FormLogin{
        box-sizing : border-box;
        background: #C67A6A;
        color: #000000;
        width: 100%;
        padding: 10px;
        font-size: 11pt;
        margin-bottom: 20px;
}
#forgot-password{
        color: #666666;
        font-family: "Raleway", sans-serif;
        font-size: 10pt;
}
.TombolRegister{
        padding: 13px;
        background: #628193;
        background: rgba(0,0,0,0,5);
        border-radius: 15px;
}
.TombolLogin{
        padding: 13px;
        background: #628193;
        background: rgba(0,0,0,0,5);
        border-radius: 15px;
}
#Footer{
        width: 100%;
        line-height:50px;
        color: #ffffff;
        background:#2B2830;
        padding: 6px;
}
.TulisanSosmed{
        text-align: right;
}
.LogoSosmed{
        padding-left: 20px;
}